/* assign font to whole page */
* {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* layout & styling of three main divs */
#top {
	background-color: #FFB4B0; 
	border: 2px solid black;
	text-align: left;
	padding: 15px;
}

#left-side {
	background-color: #4DD7FA;
	text-align: left;
	border: 2px solid black;
    height: 400px;
    box-sizing: border-box;
 	margin-right: 0.5%;
}

#right-side {
	background-color: #FEFAC0;
	text-align: left;
	border: 2px solid black;
	color: #785616;
    height: 400px;
    box-sizing: border-box;
}

#playlist-view {
	padding-right: 0.5%;
}

/* adds fake pipe characters to nav bar and song info */
.needspipe {
	border-right: 2px solid black;
	padding-right: 5px;
}

.needswidepipe {
	border-right: 1.5px solid black;
	padding-right: 10px;
}

.needspadding {
	padding-left: 5px;
}

#add-music, #view-music {
	text-decoration: none;
}

/* made button wider */
button {
    width: 50%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #E6E6E6;
    padding: 2px 0;
    font-size: 1.05em;
    /* centers the button */
    position: relative;
    left: 20%;
    margin: 5% 0 -5% 0;
}

/* trying to replicate mockup font settings */
span {
	color: #000;
	font-weight: 200;
}

a, span {
	font-size: 0.85em;
}

label {
	font-size: 0.9em;
}

h2 {
	font-weight: 400;
	font-size: 1em;
}

/* artist, album, genre headers listed above selects */
.userselects {
	font-size: 0.9em;
	font-weight: 400;
	display: block;
    padding: 10px 0 5px;
}

.checkbox-item {
	display: inline-block;
	width: 45%;
}


.dropdowns {
	border: 2px solid black;
	font-size: 0.85em;
	width: 90%;
}

#slider {
	width: 80%;
}

/* hidden classes for SPA */

.hidden {
	display: none;
}


/* add music form */

.form-inputs {
	width: 63.3%;
	margin: 4% auto;
	text-align: center;
}

.row {
	padding-bottom: 1%;
}

label {
	text-align: left;
	display: inline-block;
	width: 100px;
}

.textbox-input {
	width: 150px;
	height: 25px;
	border: 2px solid black;
}

#add-song {
	width: 15%;
	position: relative;
	left: 0;
}





