* {
	font-family: Arial, sans-serif;
}

#top {
	background-color: #FFB4B0; 
	border: 2px solid black;
	text-align: left;
}

#top a {
	margin: 5px;
}

#left-side {
	background-color: #4DD7FA;
	text-align: center;
	border: 2px solid black;
	float: left;
	width: 30%;
}

#right-side {
	background-color: #FEFAC0;
	text-align: left;
	border: 2px solid black;
	color: #785616;
	float: right;
	width: 65%;
}

